.parent{
    height: 500px;
    width: 500px;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
}

.child{
    height: 150px;
    width: 150px;
    background-color: red;
}