.parent{
    height: 100vh;
    width: 100%;
    background-color: royalblue;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    place-items: center;
    row-gap: 80px;
    padding: 50px;
}

.child{
    height: 400px;
    width: 250px;
    border: solid;    
}

/* 

*/